h1 {
    color: blue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    text-align: center;
}

#leftSide {
    width: 33%;
    float: left;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#middle {
    width: 33%;
    margin: auto;
    font-size: small;
}

#tos {
    /* I learned about 'overflow-y' from "DarkCode" on YouTube*/
    overflow-y: scroll;
    max-height: 2cm;
}

#rightSide {
    width: 33%;
    float: right;
    display: flex;
    flex-direction: column;
    margin: auto;
}

img {
    width: 200px;
    align-self: center;
}

body {
    background-image: url(https://wallpaperaccess.com/full/3087807.jpg)
}

button {
    background-color: green;
    color: black;
    float: right;
    width: 4cm;
    height: 2cm;
    font-size: 25px;
}